body {
  height: 100vh;
  font-family: 'Open Sans';
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1f1f3d;
  color: #ffffff;
  padding: .5% 1.5%;
  height: 6%;
}

h1 {
  margin: 0;
  font-size: 250%;
}

#yo {
  font-family: 'Open Sans';
  font-weight: 800;
  text-transform: uppercase;
  color: #ffc30c;
}

.search-button-container {
  height: 92%;
  width: 30%
}

#search-input {
  width: 100%;
  font-size: 100%;
  height: 100%;
  border-radius: 2px;
  padding-left: 70px;
  border: none;
}

#search-button {
  position: relative;
  background-color: #c7d3d8;
  height: 100%;
  width: 17%;
  border-radius: 2px;
  top: -100%;
  cursor: pointer;
}

nav {
  display: flex;
  justify-content: center;
  flex-direction: column;
  border: solid 2px black;
  height: 103%;
  width: 25%;
  background-color: #587a8a;
  align-items: center;
  justify-content: flex-start;
}

#nav-top {
  height: 40%;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#small-image {
  height: 15px;
  width:15px;
  cursor: pointer;
}

h3{
  color: #c7d3d8;
  font-size: 100%;
  font-weight: normal;
  margin: 1% 0 0 0;
}

.nav-input {
  width: 97%;
  height: 12%;
  border-radius: 2px;
  border: 2px solid #1f1f3d;
}

#add-button {
  position: relative;
  bottom: 16%;
  left: 80%;
  height: 13%;
  width: 20%;
  background-color: #1f1f3d;
  border: 0;
  font-size: 100%;
  font-weight: 800;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

#add-btn {
  height: 180%;
  font-weight: normal;
  width: 73%;
  font-size: 300%;
}

.nav-btn {
  width: 100%;
  height: 12%;
  border-radius: 2px;
  background-color: #1f1f3d;
  color: #ffffff;
  border-color: #1f1f3d;
  cursor: pointer;
}

#nav-bottom {
  height: 40%;
  display: flex;
  flex-direction: column;
  width: 90%;
}

main {
  display: flex;
  align-items: column;
  height: 90%;
}

#right-section {
  width: 75%;
  background-color: #f3f6f7;
}

#practice-card {
  height: 35%;
  width: 45%;
  background-color: #ffffff;
  border: 2px solid #c7d3d8;
}

.task-list-header {
  background-color: #ffffff;
  border-bottom: 2px solid #c7d3d8;
  height: 12%;
  display: flex;
  justify-content: center;
}

h2 {
  font-size: 100%;
  margin: 0;
  height: 70%;
  width: 100%;
  color: #1f1f3d;
  justify-content: center;
}

#card-to-dos{
  height:60%;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

span {
  width: 90%;
  height: 15%;
}

.toDo-check-box {
  height: 20%;
  width: 10%;
  cursor: pointer;
}

footer {
  border-top: 2px solid #c7d3d8;
  height: 20%;
  display: flex;
  align-items: column;
  align-content: center;
  justify-content: space-between;
}

#card-btn-container {
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
height: 100%;
cursor: pointer;
}

.card-btn {
  height: 60%;
  width: 50%;
}
