body {
  font-family: 'Open Sans';
  height: 100vh;
}

header {
  align-items: center;
  background-color: #1f1f3d;
  color: #ffffff;
  display: flex;
  height: 6%;
  justify-content: space-between;
  padding: .5% 1.5%;
}

h1 {
  font-size: 250%;
  width: 35%;
  margin: 0;
}

#yo {
  color: #ffc30c;
  font-family: 'Open Sans';
  font-weight: 800;
  text-transform: uppercase;
  width: 13%;
}

.search-button-container {
  height: 92%;
  width: 30%
}

#search-input {
  border: none;
  border-radius: 2px;
  font-size: 100%;
  height: 100%;
  padding-left: 80px;
  width: 100%;
}

#search-button {
  background-color: #c7d3d8;
  border-radius: 2px;
  cursor: pointer;
  height: 100%;
  position: relative;
  top: -100%;
  width: 17%;
}

nav {
  align-items: center;
  background-color: #587a8a;
  border: solid 2px 587a8a;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  justify-content: flex-start;
  width: 25%;
}

#nav-top {
  display: flex;
  flex-direction: column;
  height: 40%;
  justify-content: space-around;
  width: 90%;
}

#small-image {
  cursor: pointer;
  height: 15px;
  width:15px;
}

h3{
  color: #c7d3d8;
  font-size: 100%;
  font-weight: normal;
  margin: 1% 0 0 0;
}

.nav-input {
  border: 2px solid #1f1f3d;
  border-radius: 2px;
  height: 12%;
  width: 97%;
}

#add-button {
  height: 25%;
}

#add-btn {
  align-items: center;
  background-color: #1f1f3d;
  border: 0;
  bottom: 59%;
  color: #ffffff;
  cursor: pointer;
  display: flex;
  font-size: 100%;
  font-weight: 800;
  height: 39%;
  justify-content: center;
  left: 85%;
  padding: 2%;
  position: relative;
  width: 10%;
}

#task-item-input {
  height: 50%;
}

#createTask {
  font-size: 300%;
  font-weight: normal;
  height: 180%;
  width: 73%;
}

.nav-btn {
  background-color: #1f1f3d;
  border-color: #1f1f3d;
  border-radius: 2px;
  color: #ffffff;
  cursor: pointer;
  height: 12%;
  width: 100%;
}

#nav-bottom {
  display: flex;
  flex-direction: column;
  height: 40%;
  width: 90%;
}

main {
  align-items: column;
  display: flex;
  height: 90%;
}

#right-section {
  background-color: #f3f6f7;
  width: 75%;
  height: 100%;
}

#new-card {
  background-color: #ffffff;
  border: 2px solid #c7d3d8;
  display: inline-block;
  height: 35%;
  width: 45%;
}

h2  {
  background-color: #ffffff;
  border-bottom: 2px solid #c7d3d8;
  color: #1f1f3d;
  font-size: 100%;
  height: 12%;
  width: auto;
}

.card-tasks{
  background-color: #ffffff;
  height: 50%;
  width: 90%;
}

.card-tasks-active {
  background-color: #ffffff;
  color: #3c6577;
  height: 50%;
  width: auto;
}
.change-text {
  color: black;
  display: inline-block;
  height: 15%;
  width: 95%;
}

span {
  color: #3c6577;
  display: inline-block;
  height: 15%;
  width: 88%;
}

.toDo-check-box {
  cursor: pointer;
  height: 5%;
  width: 3%;
}

.toDo-check-box-active {
  cursor: pointer;
  height: 5%;
  width: 3%;
}

#footer {
  border-top: 2px solid #c7d3d8;
  margin-top: auto;
}

.card-btn {
  height: 10%;
  width: 10%
}

.card-btn-container {
  display: inline-block;
  text-align: center;
  width: 49%;
}

.card-btn-label {
  display: block;
}
